
.vmuv_right{
    width: 82%;
    height: 100%;
    /* float :right;
    margin-top: -40rem; */
    /* background: green; */
}
.header{
    width: 100%;
    /* height: 20%; */
    height: 20vh;
    margin-top: 1rem;
    background: #F6F6F6;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.header_left{
    margin-left: 1rem;
    margin-top: -2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #00054F;
}

.header_right{
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
}
#btn_back{
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    border: 1px solid #77e38d;
    color : #77e38d;
    cursor: pointer;
}
#btn_publish{
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    color : #ffffff;
    background: #77e38d;
    cursor: pointer;
}
    /* css for next part  */

    .uploadV_main{
        width: 100%;
        height: 77vh;
        background: #F6F6F6;
        /* background: red; */
    }
    .uploadV_body{
        width: 85%;
        height: 60vh;
        background: #ffffff;
        margin-left: 1rem;
        border-radius: 8px;
        /* margin-right: 1rem; */
        
    }
    .uploadV_video{
        /* margin-top: 1.5rem; */
        margin-left: 1.5rem;
        display: flex;
        gap: 1rem;
        /* background: red; */
    }
    .form_row1{
        margin-top: 1rem;
        margin-left: 1.5rem;
        display: flex;
        /* justify-content: space-evenly; */
        gap: 10%;
    }
     
    .form_element{
        display: flex;
        flex-direction: column;
        height: 3.5rem;
        width: 20%;
    }
    .form_label{
        font-size: 0.75rem;
        margin-bottom: 0.35rem;
    }
    .form_input{
        /* margin-top: 1rem; */
        width: 10rem;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: none;
        background: #F6F6F6;
    }
    