.home_main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_sub{
    width : 100%;
    /* height : 80vh; */
    height: 100%;
    background: #333333;
   /* background: linear-gradient(to bottom,#333333 50%,rgba(27, 35, 79, 0.5) ,#6b03fc ); */
    display: flex;
}

.welcome_txt{
    width : 60%;
    height: 100%;
    margin-top: 0rem;
    /* background: green; */
}
.welcome_txt img{
    width: 20%;
    margin-top: 1rem;
    margin-left: 2.5rem;
}
#wel_txt1{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    /* font: normal normal 600  Work Sans; */
    font-weight: 600;
    color: #77E38D;
    margin-top: 7rem;
}
.wel_txt2 ,.wel_txt3{
    display: flex;
    justify-content: center;
    font-size: 0.65rem;
    color: #ffffff;   
    /* margin-top: -1.8rem; */
}
.wel_txt2{
    margin-top: -1.8rem;
}
.wel_txt3{
    margin-top: -0.60rem;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top: 4rem;
    height:20vh;
    /* background: green; */
}
.envelope{
    width:100%;
    display: flex;
    justify-content: center;
    
}
.input1{
    width:35%;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey; 
    color:#ffffff;
    margin-right: 4rem;
    margin-top: 0.35rem;
    height: 1.75rem;
    /* background: red; */
}
.input2{
    width: 35%;
    /* background: #333333; */
    background: transparent;
    border: none;
    border-bottom: 1px solid grey; 
    color:#ffffff;
    height: 1.75rem;
}
.mail_error{
    font-size: 0.75rem;
    margin-top: -1.5rem;
    margin-right: 11rem;
    color: red;
    /* background: green; */
}
.pass_error{
    font-size: 0.75rem;
    margin-top: -1.3rem;
    margin-right: 3.1rem;
    color: red;
}

.forgot_p{
    font-size: 0.65rem;
    color: #77E38D;
    /* float: right; */
    margin-left: 58%;
    margin-top: -0.5rem;
    cursor: pointer;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}
.btn button{
    display: flex;
    justify-content: center;
    padding: 0.70rem 8rem;
    background: #77E38D;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


                                      /* Second half */

.welcome_pic{
    width: 40%;
    /* background: red; */
    background: url('../../../public/Images/main.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: scale(0.92);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 0.1rem;
}
.welcome_pic > p{
    font-size: 0.65rem;
    color: #ffffff;
    line-height: 0.1rem;
    
}
#welcome_pic_heading{
    font-size: 1.75rem;
    font: normal normal bold Urbanist;
    font-weight: 500;
    margin-top: 12rem;
}

@media screen and (max-width:1280px){
    html{
      font-size: 15px;
    }
    #welcome_pic_heading{
        margin-top: -14rem;
    }
}

@media screen and (max-width:1024px){
    html{
      font-size: 14px;
    }
    #welcome_pic_heading{
        margin-top: -30rem;
    }
}
@media screen and (max-width:912px){
    html{
      font-size: 14px;
    }
    #welcome_pic_heading{
        margin-top: -35rem;
    }
}
@media screen and (max-width:820px){
    html{
      font-size: 12px;
    }
    #welcome_pic_heading{
        margin-top: -44rem;
    }
}
@media screen and (max-width:768px){
    html{
      font-size: 12px;
    }
    #welcome_pic_heading{
        margin-top: -48rem;
    }
}
@media screen and (max-width:650px){
    html{
      font-size: 10px;
    }
    #welcome_pic_heading{
        margin-top: -68rem;
    }
}
@media screen and (max-width:540px){
    html{
      font-size: 8px;
    }
    #welcome_pic_heading{
        margin-top: -90rem;
    }
}

@media screen and (max-width:414px){
    html{
      font-size: 14px;
    }
    .home_sub{
        display : flex;
        flex-direction: column;
    }
    .welcome_txt{
        width : 100%;
    }
    .welcome_pic{
        width: 100%;
        /* transform: scale(0.9); */
        /* background: url('../../../public/Images/main.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 0; */
        
    }
    #welcome_pic_heading{
        margin-top: -40rem;
    }
}