
.uploadVideo_right{
    width: 82%;
    /* float: right;
    margin-top: -40rem; */
    /* background: green; */
}
    /* css for next part  */
.header{
    width: 100%;
    height: 15%;
    margin-top: 1rem;
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.header_left{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
    gap: 1rem;
}

.profPic{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background: #77e38d;
    display: flex;
    justify-content: center;
}
.profPic>img{
    width: 60%;
    height: 20%;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.macintosh1{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1rem;
}
.macintosh2{
    font-size: 0.9rem;
    line-height: 0.75rem;
    margin-top: -0.5rem;
}
.header_right{
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}
#btn_clear{
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 1px solid #77e38d;
    color : #77e38d;
    cursor: pointer;
}

#btn_publish{
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    color : #ffffff;
    background: #77e38d;
    cursor: pointer;
}
    /* css for next part  */

    .uploadV_main{
        width: 100%;
        height: 70vh;
        background: #F6F6F6;
    }
    .uploadV_body{
        width: 85%;
        height: 60vh;
        background: #ffffff;
        margin-left: 1rem;
        border-radius: 8px;
        /* margin-right: 1rem; */
        
    }
    .uploadV_video{
        /* margin-top: 1.5rem; */
        margin-left: 1.5rem;
        display: flex;
        gap: 1rem;
        /* background: red; */
    }
    .form_row1{
        margin-top: 1rem;
        margin-left: 1.5rem;
        display: flex;
        /* justify-content: space-evenly; */
        gap: 10%;
        /* background: green; */
    }
     
    .form_element{
        display: flex;
        flex-direction: column;
        height: 3.5rem;
        width: 20%;
        /* background: red; */
        
    }
    .form_label{
        font-size: 0.75rem;
        margin-bottom: 0.35rem;
    }
    .form_input{
        /* margin-top: 1rem; */
        width: 10rem;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: none;
        background: #F6F6F6;
    }
    