
.vm_right{
    width: 82%;
    height: 100%;
    /* float: right;
    margin-top: -40rem; */
    /* background: green; */
}
/* next part start  */
.header{
    width: 100%;
    height: 15%;
    margin-top: 1rem;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #BEBEBE;
}
.header_top{
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    /* background: green; */
}
.btn{
    margin-top: 1rem;
    margin-right: 1.5rem;
}
.btn >button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    color : #ffffff;
    background: #77e38d;
    font-size: 0.5rem;
}
.vm_txt{
    margin-left: 0.75rem;
    font-size: 1.15rem;
    font-weight: 600;
    color: #00054F;
}
.header_bottom{
    margin-left: 1.5rem;
    margin-top: -0.78rem;
    display: flex;
    gap: 1rem;
    
}
.header_bottom >button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    color : #00054F;
    background: #ffffff;
    font-size: 0.5rem;
}
#req_video{
    color : #ffffff;
    background: #77e38d;
}

/* next part start  */
.body{
    /* margin-top: -1rem; */
    width: 100%;
    height: 75vh;
    background: #F6F6F6;
    background-position: 0 1rem;
    margin-top: -0.9rem;
}
.body> p{
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    /* background: green; */
}
.white_body{
    width: 96%;
    height: 60vh;
    background: #ffffff;
    margin-left: 1rem;
    border-radius: 8px;
}
.table{
    margin-top: 1rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    border-top: 2rem solid #ffffff;
    border-left: 2rem solid #ffffff;
    border-right: 2rem solid #ffffff;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 15rem;
    gap: 6rem;
}
.userBtn{
    display: flex;
    gap: 1rem;
}
.userPrev{
    font-size: 0.75rem;
    padding: 0.55rem 1rem;
    border-radius: 15px;
    border: none;
    background: white;
}
.userNext{
    font-size: 0.75rem;
    padding: 0.55rem 2rem;
    border-radius: 15px;
    border: none;
    background: #77e38d;
    color: white; 
}
.pagination{
    margin-left: 14rem;
}
