.Vupload{
    margin-top: 2rem;
    width: 30%;
    height: 50%;
    /* background: red; */
}
.Tupload{
    margin-top: 2rem;
    width: 20%;
    height: 40%;
    /* background: green; */
}
.Vicon,.Ticon{
    width: 10%;
}
.Tpic_icon{
    width: 5rem;
}
.text{
    font-size: 0.75rem;
}