/* .modal_container{
    position: fixed;
    top: 20%;
    left: 30%;
    background: red;
} */

.addUser_right{
    position: fixed;
    top: 8%;
    left: 18%;
    z-index: 1;
    width: 82%;
    height: 100vh;

    /* float: right;
    margin-top: -40rem; */
    /* background: green; */
}
.header{
    width: 100%;
    height: 15%;
    margin-top: 1rem;
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.header_left{
    margin-left: 1rem;
}
#header_t1{
    font-size: 1.15rem;
    font-weight: 500;
}
#header_t2{
    font-size: 0.75rem;
    line-height: 1rem;
    /* margin-top: -1rem; */
}
.header_right{
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}
#btn_cancel{
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 1px solid #77e38d;
    color : #77e38d;
    cursor: pointer;
}
#btn_done{
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    color : #ffffff;
    background: #77e38d;
    cursor: pointer;
}
.form_main{
    width: 100%;
    height: 70vh;
    background: #F6F6F6;
}
.form_body{
    width: 97%;
    /* height: 35vh; */
    height: 60%;
    background: #ffffff;
    margin-left: 1rem;
    border-radius: 8px;
    /* margin-right: 1rem; */
}
.form_row1{
    /* margin-top: 2rem; */
    margin-left: 2rem;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 14%;
}
 
.form_element{
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    height: 4rem;
    /* background: red; */
}
.form_label{
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}
.form_input{
    width: 15rem;
    height: 80%;
    /* line-height: 2.5rem; */
    border-radius: 5px;
    border: none;
    background: #F6F6F6;
    /* background: green; */
}
.form_row2{
    margin-left: 2rem;
    margin-top: 2rem;
}