
.user_right{
    width: 82%;
    height: 100vh;
   
}
 
.header{
    width: 100%;
    height: 15%;
    margin-top: 1rem;
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.header_left{
    width: 70%;
    height: 100%;
    /* background: gold; */
    display: flex;
    align-items: center;
    margin-left: 1rem;
    /* margin-top: 1rem; */
}
.profPic{
    width: 8%;
    height: 60%;
    border-radius: 50%;
    background: #77e38d;
    display: flex;
    justify-content: center;
}
/* .profPic>img{
    width: 60%;
    border-radius: 50%;
} */

.macintosh{
    margin-left: 1rem;
    /* background: green; */
}
.macintosh1{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1rem;
}
.macintosh2{
    font-size: 0.9rem;
    line-height: 0.75rem;
    margin-top: -0.5rem;
}
.header_right{
    /* margin: 2rem 1.5rem 0 0 ; */
    /* width: 30%; */
    margin-right: 1rem;
    
}
.header_right>button{
    padding: 0.8rem 2rem;
    border-radius: 8px;
    background: #77e38d;
    border: none;
    color: white;
}
.header_right>button:hover{
    cursor: pointer;
}
.mainbody{
    width:100%;
    height: 75%;
    background: #F6F6F6;
    /* background: green; */
}
.body{
    width: 95%;
    height: 85%;
    background: white;
    /* background: red; */
    margin: 0 1.5rem 0 1.5rem;
    border-radius: 8px;
    padding-top: 1rem;
}
.userInfoText,.userVideoText{
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.75rem;
    display: inline;
    margin-top: 1rem;
    margin-left: 1rem;
    /* background: red; */
}
.userInfoText{
    margin-top: 2rem;
    /* padding-top: 2rem; */
    
}
.userInfo{
    display: flex;
    margin-left: 1rem;
    
}
.userEmail{
    margin-left: 8rem;
}

.userPhone>p,.userEmail>p{
    font-size: 0.85rem;
}
.userDet{
    margin-top: -0.75rem;
}
.userTable{
    width: 97%;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.85rem;
    margin-left: 15rem;
    gap: 6rem;
}
.userBtn{
    display: flex;
    justify-content: center;
    /* margin-top: 1rem; */
}
.userPrev{
    font-size: 0.75rem;
    padding: 0.55rem 1rem;
    border-radius: 15px;
    border: none;
    background: #ffffff;
}
.userNext{
    font-size: 0.75rem;
    padding: 0.55rem 2rem;
    border-radius: 15px;
    border: none;
    background: #77e38d;
    color: white;
    margin-left: 1rem;
}
.pagination{
    margin-left: 10rem;
}